html {
    height: 100%;
}


body {
    margin: 0 auto;
    min-height: 100%;
    background-image: url(../logo/back.svg);
}

/* @media (min-width: 768px) {
    .wrapper {
      flex: 768px;
      max-width: 768px;
      order: 1;
    }
} */

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: center;
}

/* header start */

.container_header {
    padding: 15px 0 15px 0;
    width: 950px;
}

.block_header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navigation {
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    font-family: 'Solway', serif;
    font-size: 20px;
}

.nav {
    padding-right: 62px;
    text-decoration: none;
    color: black;
}

.nav::first-letter {
    color: #FF0000;
}

.nav:last-child {
    padding-right: 0;
}

/* header end */

/* cart start */

.cart_container {
    height: 100%;
}

.cart_block {
    margin-top: 10px;
    background-color: #FFF8F6;
    width: 957px;
    border-radius: 35px;
    box-shadow: 0 6px 6px rgb(0 0 0 / 30%);
}

.cart_frame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart_title {
    margin-left: 30px;
    font-family: 'Nunito', serif;
    margin-right: auto;
    display: flex;
}

.product {
    margin-top: 11px;
    font-size: 20px;
}

.item {
    font-size: 20px;
    margin: 10px;
}

.cart {
    font-size: 32px;
    font-weight: 400;
}

.card_title {
    margin: 0;
    display: flex;
    font-family: 'Nunito', serif;
    flex-direction: column;
}

.card {
    margin-bottom: 30px;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #FFECE8;
    width: 897px;
    height: 150px;
    align-items: center;
    border: 2px #FFCBBF solid;
    border-radius: 6px;
    box-shadow: 0 4px 5px rgb(0 0 0 / 28%);
}

.image {
    padding-left: 9px;
    width: 132px;
    height: 132px;
}

.description {
    padding-left: 12px;
    margin: 0;
    font-size: 26px;
    width: 347px;
    height: 91px;
}

.bottom {
    display: inline-flex;
}

.price {
    padding-left: 12px;
    margin: 0;
    width: 93px;
    height: 38px;
    font-size: 28px;
    color: #5B1000;
}

.delete_item {
    margin-left: 95px;
    color: #D63300;
    width: 94px;
    height: 33px;
    border: none;
    background-color: inherit;
    font-size: 24px;
    cursor: pointer;
}

.quantity {
    height: 36px;
    display: flex;
    margin-left: 182px;
    font-family: 'Philosopher', serif;
}

.amount {
    padding: 0 45px;
    margin: 0;
    font-size: 32px;
    font-weight: 400;
}

.minus,
.plus {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF7144;
    width: 36px;
    border: #FF7144;
    border-radius: 50%;
}

.min,
.max {
    width: 20px;
    border-bottom: 2px solid #FFD0CD;
    border-radius: 5px;
}

.max_end {
    position: absolute;
    height: 20px;
    border-left: 2px solid #FFD0CD;
    border-radius: 5px;
}

.border {
    margin-top: 65px;
    margin-bottom: 58px;
    border-radius: 3px;
    height: 3px;
    width: 897px;
    background-color: #FF3D00;
}

.total {
    margin: 0 30px 58px;
    margin-right: auto;
    font-family: 'Nunito', serif;
    font-size: 30px;
}

.order {
    margin-bottom: 48px;
    width: 272px;
    height: 68px;
    background-color: #FF8165;
    border-radius: 10px;
    border-color: #FF8165;
    color: #460D00;
    font-size: 30px;
    font-family: 'Nunito', serif;
    transition: 0.5s;
    cursor: pointer;
}

.order:hover {
    background-color: #ff6947;
}

.log {
    display: contents;
}

.paw {
    position: absolute;
}

/* cart end */
